extends layout

block content
    div.flex-inline.header.message-block.no-click
        div.photo
            i.fas.fa-user
        h2= message.name
        div

    .list-mess
        each msg in message.msgs
            if msg.owner === "other"
                a.message-block.conv.left
                    div.content
                        div.message= msg.text
                        div.hour= msg.hour
            else
                a.message-block.conv.right
                    div.content
                        div.message= msg.text
                        div.hour= msg.hour

    div.fixed-send
        div#send.shadow
            textarea(placeholder="Ecrire un message...")
            button
                i.fas.fa-paper-plane

